* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background:linear-gradient(#AABBCC,#29700f,#67bdd2);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  position: relative;
  overflow: hidden;
  height: 600px;
  width: 400px;
  display: grid;
  padding: 20px;
  border-radius: 20px;
  grid-template-columns: repeat(4, 90px);
  border-top: 1px solid rgba(255, 49, 49, 0.5);
  border-right: 1px solid rgba(0, 255, 255, 0.5);
  border-bottom: 1px solid rgba(57, 255, 20, 0.5);
  border-left: 1px solid rgba(255, 255, 113, 0.5);
  background: rgb(247, 249, 250);
}

input {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  display: grid;
  padding: 10px;
  grid-column: 1/5;
  border-radius: 20px;
  border: none;
  margin-bottom: 9px;
  box-shadow: 2px 2px 4px #000000;
}

button:nth-last-child(1) {
  grid-column: 3/5;
  align-items: center;
  display: grid;
}

button {
  text-align: center;
  border-radius: 15px;
  margin: 5px;
  box-shadow: 2px 2px 4px #000000;
}

span {
  position: absolute;
  border-radius: 100vmax;
}

.top {
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: linear-gradient(90deg,
      transparent 50%,
      rgba(255, 49, 49, 0.5),
      rgb(255, 49, 49));
}

.bottom {
  bottom: 0;
  left: 100;
  width: 100px;
  height: 5px;
  background: linear-gradient(90deg,
      transparent 50%,
      rgba(87, 49, 255, 0.5),
      rgb(255, 49, 49));
}

.right {
  top: 10px;
  right: 0;
  width: 10px;
  height: 5px;
  background: linear-gradient(180deg,
      transparent 30%,
      rgba(0, 255, 255, 0.5),
      rgb(0, 255, 255));
}

.left {
  left: 0px;
  bottom: 0;
  width: 10px;
  height: 0;
  background: linear-gradient(180deg,
      rgb(223, 223, 0),
      rgba(255, 255, 113, 0.5),
      transparent 70%);
}

.top {
  animation: animateTop 5s ease-in-out infinite;
}

.bottom {
  animation: animateBottom 15s ease-in-out infinite;
}

.right {
  animation: animateRight 15s ease-in-out infinite;
}

.left {
  animation: animateLeft 15s ease-in-out infinite;
}

@keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@keyframes animateBottom {

  0%,
  50% {
    opacity: 0;
    width: 10;
  }

  75% {
    opacity: 1;
    width: 100%;
  }

  76%,
  100% {
    opacity: 0;
  }
}

@keyframes animateRight {

  0%,
  25% {
    opacity: 0;
    height: 0;
  }

  50% {
    opacity: 1;
    height: 100%;
  }

  55%,
  100% {
    height: 100%;
    opacity: 0;
  }
}

@keyframes animateLeft {

  0%,
  75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}